{% extends "base.html" %}
{% block body %}
<form class="export-form" action="?export" method="POST">
    <div class="input-group">
        <p>Output format</p>
        <div class="input-container">
            <input type="radio" name="format" value="xlsx" id="format-xlsx" checked>
            <label for="format-xlsx">Excel Workbook (.xlsx)</label>
        </div>
        <div class="input-container">
            <input type="radio" name="format" value="xls" id="format-xls">
            <label for="format-xls">Excel 97-2003 Workbook (.xls)</label>
        </div>
        <div class="input-container">
            <input type="radio" name="format" value="ods" id="format-ods">
            <label for="format-ods">Open Document Spreadsheet (.ods)</label>
        </div>
        <div class="input-container">
            <input type="radio" name="format" value="csv" id="format-csv">
            <label for="format-csv">Comma Separated Values (.csv)</label>
        </div>
    </div>
    <div class="input-group button-group">
        <button type="submit">Generate Spreadsheet</button>
    </div>
</form>
{% endblock %}
