{% extends "base.html" %}
{% block body %}
    <div>
        <h1>What is this?</h1>
        <p>This small web app fetches list of all of your owned games, along with some metadata, and exports it into a spreadsheet for easier filtering, categorization, and sharing. Inspired by Kris Ligman's <a href="https://unwinnable.com/2020/12/29/i-played-over-100-games-this-year-and-this-is-what-i-learned/">'game tasting'</a> project and steam's incredibly bare-bones library filtering tools.</p>
        <p>Currently exports: steam store link, name, total playtime, linux playtime, mac playtime, and windows playtime (note that platform-specific timers have been added by valve relatively recently, and thus may be incomplete or may be missing completely for some titles).</p>
        <p>I plan to eventually expand the functionality to also fetch the game details from the store api (publisher, developer, release date, tags, genres, etc.).</p>
        <h1>How does this work?</h1>
        <p>Written in python, using flask, flask-openid, requests, and pyexcel.</p>
        <p>Authentication is handled through OpenID - valve handles your credentials directly on their site, and will redirect you afterwards to the app with your account's steamID encoded in the url. This id is then used to perform a lookup of owned games through steam's web api (api.steampowered.com/IPlayerService/GetOwnedGames/).</p>
        <p>Source code available at <a href="https://github.com/rmmbear/steam-games-exporter">github.com/rmmbear</a></p>
        <h1>Is my account information retained on the server?</h1>
        <p>No. Your steamid is kept client-side, in a session cookie, which is cleared after looking up owned games. That list is kept on the server up until the spreadsheet has been generated.</p>
    </div>
    <form action="login" method="post">
        <button type="submit" class="btn-steam" title="Sign In Through Steam"><img src="{{ url_for('static', filename='sits_01.png') }}" alt="Sign In Through Steam Button"></button>
    </form>
{% endblock %}
