{% extends "base.html" %}
{% block body %}
    {% if not cookies %}
    <p><strong>Error:</strong> your browser is rejecting cookies, which are necessary for this app.</p>
    <p>Please allow cookies from https://misc.untextured.space for this session in your browser's settings.</p>
    {% endif %}
    {% if error %}<p class="error"><strong>Error:</strong> {{ error }}</p>{% endif %}
    <form action="." method="get">
        <a href="."><button type="button" class="btn-back" title="Back">Back</button></a>
    </form>
{% endblock %}
